
@import url("reset.css");
@import url("common.css");

*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Georgia","Noto Sans CJK TC","sans-serif";
}
ul{list-style: none;}
a{text-decoration: none;}
img{display: block;}
html,body{
    width: 100%;
    height: 100%;
}
 
.bg-area{
	width: 100%;
	height: auto;
	overflow: hidden;	 
}
/*背景圖*/
.bg-area>.bg-img{
	width: 100%;
	height: auto;
	overflow: hidden;	
}
.bg-area>.bg-img>img{
	/*width: 100%;*/
	max-height: 850px;
	height: auto;	
}
.headerTop{
	position: absolute;
	width: 60%;
	height: 850px;
	right: 0px;
	top: 0px;
	background: #161616;
	}



/*Experience The Idllic Beauty*/
.headerInfo{
     position: absolute;
     top: 41%;
     left: 48%;
}

.headerInfo>h1{	
	display: inline-block;
	font-size: 60px;
	margin-bottom: 34px;
	/* White */
	color: #FCFCFC;
	font-family:Georgia;
}
.headerInfo>hr{
	border-color: #FCFCFC;
    width: 362px;
    margin-left: 45px;
}
.headerInfo>div>h4{
	font-family: Noto Sans CJK TC;
	font-size: 36px;
	/* White */
	color: #FCFCFC;
	display: inline-block;
}
.headerInfo>div>hr{
	border-color: #FCFCFC;
	width: 120px;
    margin-left: 0px;
	display: none;

	margin-top: 0px;
    margin-right: 0px;
    margin-left: 72px;
    margin-bottom: 9px;
}




/* course */
.course{
	height: auto;
	overflow: hidden;
	width: 100%;
	background-color: black;
	color: #FCFCFC;
}

.course>div{
	width: 100%;
	height: 2060px;
}
.course .content{
	position: absolute;
}
.content>.intro{
	width: 100%;
    height: auto;
    overflow: hidden;
	padding: 217px 25% 128px 6%;
}
.content>.intro>p{
	font-family: Noto Sans CJK TC;
	font-size: 24px;
	line-height: 36px;
	/* White */
	color: #FCFCFC;
}
.content>.introImg1,
.content>.introImg2,
.content>.introImg3{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.content>.introImg1{
	padding: 0 0 30px 24%;

}
.content>.introImg2{
	text-align: end;
	padding-bottom: 30px;
}

.content>.introImg3{
	text-align: start;
	padding-bottom: 96px;
}
.content>.introImg1>img{
	width: 100%;
	height: auto;
	max-width: 1097px;
	max-height: 583px;
	float: right;
}
.content>.introImg2>img:first-child{
	width: 60%;
	height: auto;
	margin: 0 2% 0px 3%;
	display: inline-block;
}
.content>.introImg2>img:nth-child(2){
	width: 33%;
	height: auto;
	display: inline-block;
	 
}
.content>.introImg3>img:first-child{
	width: 39%;
	height: auto;
	margin: 0 2% 0 0;
	display: inline-block;
}
.content>.introImg3>img:nth-child(2){
	width: 39%;
	height: auto;
	display: inline-block;
}

.blue_R{
	background: #0F4C75;
	display: block;
	position: absolute;
	width: 24%;
	height: 720px;
	
}


/* hotel */
.hotel{
	height: 2040px;
	width: 100%;
	background-color: black;
	color: #FCFCFC;
}
.blue{
	background: #0F4C75;
	display: block;
	position: absolute;
	width: 100%;
	height: 1024px;	
}
 
.hotel>.content{
	position: absolute;
	padding: 0 6% 28px 7%;
    width: 100%;
}
.content>div{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.hotel p{
	font-size: 24px;
	padding: 52px 0 40px 0;
	display: inline-block;
}
.hotel hr{
	width: 130px;
	border-color:#FCFCFC;
	display: inline-block;
	margin-bottom: 8px;
    margin-left: 26px;
}
.mob_img{
	width: 257px;
	height: 320px;
	display: none;
}
.img1,.img2,.img3,.img4,.img5,.img6{
	height: auto;
	overflow: hidden;
	display: inline-block;
}
.img1,.img3{
	width: 58%;
	margin-right: 3%;
}
.img2,.img4{
	width: 38%;
}
.img5{
	width: 48%;
	margin-right:8% ;
}
.img6{
	width: 43%;
}
.img5>img.first{
	padding-bottom: 45px;
}
.hotel>.content img{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.img4>p,.img6>p,.img6>hr{
	 visibility: hidden;
}



/*section*/
section{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 45px 0;
}

section >h3{
	margin: 0 auto;
	padding-top: 22px;
	padding-bottom: 22px;
	width: 20%; 
    text-align: center;

	font-size: 24px;
    font-family: Noto Sans CJK TC;
    font-weight: bold;
    color: #FCFCFC;
    background: #EFA740;
    box-shadow: 0px 4px 11px rgba(239, 167, 64, 0.25);
}

 /* mobile */

@media screen and (max-width: 375px){
	header >.logo>img{
		width: 42px;
		height: 30px;
		margin: 11px 0 0 16px;
	}
	header{
	height: 650px;
	}
	.headerTop {
    height: 650px;
    width: 39%;
	}
	
	.headerInfo {
    top: 41%;
    left: 13%;
	}
	.headerInfo>h1{	
	font-size: 60px;
	margin-bottom: 20px;
	}
	.headerInfo>hr{
		display: none;
	}
	.headerInfo>div>h4{
	font-size: 24px;
	}
	.headerInfo>div>hr{
	display: inline-block;
	}
	.bg-area>.bg-img>img{
		max-height: 650px;	
	}


	/*course*/
	.blue_R {
	    width: 30%;
	    height: 239px;
	}
	.course{
		height: 1244px;
	}
	.content{
		padding: 0px 0 0 0px;
	}
	.content>.intro {
	    padding: 67px 15px 50px 15px;
	}

	.intro p {
	    font-size: 24px;
	}

	.content>.introImg1{
		padding: 0 0 16px 0;
	}
	.content>.introImg1>img{
		height: 200px;
	}
	.content>.introImg2{
		padding-bottom: 18px;
	}
	.content>.introImg2>img:first-child{
		width: 60%;
		height: 119px;
		margin: 0 16px 0px 0;
	}
	.content>.introImg2>img:nth-child(2){
		width: 34%;
		height: 119px;	 
	}
	.content>.introImg3{
		text-align: start;
		padding-bottom: 24px;
	}
	.content>.introImg3>img:first-child{
		width: 78%;
		height: 148px;
		margin: 0 0 16px 0;
		display: block;
	}
	.content>.introImg3>img:nth-child(2){
		width: 78%;
		height: 148px;
		margin-left: 85px;
		display: block;
	}

	/*hotel*/

	
	.blue{
		height: 1364px;
	}
	.hotel{
		height: 2634px;
	}
	.hotel>.content {
		padding: 0;
	}
	.hotel .flex-box{
		display: flex;
		flex-direction: column-reverse;
	}

	.hotel p {
	    padding: 44px 38px 16px 22px;
	    width: 375px;
	}
	.hotel hr{
		margin-top: 0px;
   		margin-bottom: 38px;
	}
	.img4>p,.img5>hr{
		display: none;
	}
	.img6>p,.img6>hr{
		visibility: visible;
	}
	.img3 >img,
	.img5 >img,
	.img6 >img
	{
		margin-bottom: 16px;
	}

	.img5 >p{
		display: none;
	}

	.img1,.img2,.img3,.img4,.img5,.img6{
		display: block;
		width: 100%;
		margin-right: 0%;
	}
	section {
	    padding: 36px 0;
	}
	section h3 {
	    margin: 0 auto;
	    width: 48%;  
	    padding-top: 20px;
	    padding-bottom: 20px;
	}

}
